body {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#header-container {
    display: flex;
    justify-content: center;
    border-bottom: 8px solid #222;
}

#header-container-content {
    padding: 0;
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 0 auto;
    width: 100%;
}

#title {
    color: #222;
    background-color: #99c0b6;
    flex-grow: 2;
    padding: 1em;
}

#main-title {
    font-family: Arial, Helvetica, sans-serif;
}

#sub-title {
    font-family: Arial, Helvetica, sans-serif;
}

#main-row {
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 575px) {
    #main-title {
        font-size: 1.5em;
    }
    #sub-title {
        font-size: .8em;
    }
    #header a {
        font-size: 1em;
        position: relative;
        top: -15.5px;
    }
}

#points-table {
    border-collapse: collapse;
    margin: 5px auto 25px;
}

#points-table th, #points-table td {
    border: 1px solid black;
    padding: 5px;
    width: 25%;
}

.bold {
    font-weight: 500;
}

.correct-answer {
    color: lime;
}

.wrong-answer {
    color: red;
}

#portfolio-link {
    color: #689c8f;
    background-color: #ffffff;
    font-size: 2em;
    flex-grow: 1;
    padding: 1em;
    text-align: right;
}

#portfolio-link:hover {
    text-decoration: none;
    color: #476b62;
}

#quiz-app {
    border: 3px solid #222;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 5px;
    padding: 15px;
}

#quiz-title {
    text-align: center;
}

#instructions {
    text-align: center;
}

#answer-buttons {
    margin-top: 30px;
    margin-bottom: 30px;
}

#select-quiz {
    margin-bottom: 15px;
}

#question {
    font-weight: bold;
}

.btn-grid {
    display: flex;
    flex-direction: column;
}

.btn {
    width: auto;
    margin: 10px 20px;
    background-color: #99c0b6;
    border: 2px solid #222;
    white-space: normal;
    /*allows text to wrap inside buttons*/
}

.btn:hover {
    background-color: #689c8f;
}

.start-btn {
    background-color: #99c0b6;
    border: 2px solid #222;
    font-size: 2em;
    padding: 0 65px;
}

#to-high-scores {
    text-align: center;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide {
    display: none;
}

#submit-score {
    text-align: center;
    position: relative;
}

#high-scores {
    margin: 10px 0;
    padding: 10px;
    border-top: 3px solid #476b62;
    border-bottom: 3px solid #476b62;
    text-align: center;
}

ol#high-scores-list li {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    padding-bottom: 5px;
    border-bottom: 1px dashed #99c0b6;
}

ol#high-scores-list li button {
    background-color: #689c8f;
    color: white;
    border: none;
    border-radius: 5px;
}

ol#high-scores-list li button:hover {
    background-color: #476b62;
    cursor: pointer;
}

#restart {
    text-align: center;
}

#modal-container {
    position: absolute;
    top: -50px;
    width: 100%;
    height: 250px;
}

.modal-header {
    padding: 2px 16px;
    background-color: #689c8f;
    color: white;
}

.modal-body {
    padding: 2px 16px;
    height: 200px;
}

.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.initial-field {
    width: 60px;
    padding: 10px;
    font-size: 2em;
    font-weight: bolder;
    margin: 33px 10px;
}

#modal-container button {
    width: 150px;
    margin: 10px 20px;
    background-color: #99c0b6;
    border: 2px solid #222;
    white-space: normal;
    border-radius: 5px;
    padding: 5px 10px;
    font-weight: bold;
    font-size: 1.3em;
}

#modal-container button:hover {
    background-color: #476b62;
    cursor: pointer;
    color: white;
}

footer {
    background-color: #999999;
    border-top: 3px solid #666666;
    /* position: absolute;
    left: 0;
    bottom: 0; */
    width: 100%;
    height: 50px;
    text-align: center;
    margin-top: auto;
}

footer p {
    font-size: 0.7em;
    color: #476b62;
    position: relative;
    top: 18px;
    margin: 0;
}

#checkbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.customCheckbox input[type="checkbox"] {
    opacity: 0;
}

.customCheckbox label::before {
    content: "";
    display: inline-block;
    height: 16px;
    width: 16px;
    border: 1px solid #476b62;
    position: relative;
    right: -1px;
}

.customCheckbox label::after {
    content: "";
    display: inline-block;
    height: 6px;
    width: 9px;
    border-left: 2px solid #222;
    border-bottom: 2px solid #222;
    transform: rotate(-45deg);
}

.customCheckbox label {
    position: relative;
}

.customCheckbox label::before, .customCheckbox label::after {
    position: absolute;
}

.customCheckbox label::before {
    top: 3px;
    background-color: #689c8f;
}

.customCheckbox label::after {
    left: -12px;
    top: 7px;
}

.customCheckbox input[type="checkbox"]+label::after {
    content: none;
}

.customCheckbox input[type="checkbox"]:checked+label::after {
    content: "";
}

.customCheckbox input[type="checkbox"]:focus+label::before {
    outline:#222 auto 5px;
}